<%= content_for :meta_title, @post.title %>
<%= content_for :url, request.original_url %>
<%= content_for :post_image, polymorphic_url(@post.image) %>
<%= content_for :meta_description, @post.meta_desc %>
<%= content_for :meta_keywords, "eventtech, event management, salesforce, pardot, cvent" %>

<header class="post-header" role="heading">
  <!-- get featured image-->
  <% if @post.image.attached? %>
    <%= image_tag @post.image, class: "post-header__image" %>
  <% end %>
</header>

<div class="content">
  <section class="blogpost" role="article">

    <article>
      <div class="post-meta">
        <h1>
          <%= @post.title %>
        </h1>
        <div class="attribution">
          <div class="avatar">
            <%= get_author_fullname(@post.author_id).split.map(&:first).join.upcase %>
          </div>
          <h6>
            <%= get_author_fullname(@post.author_id) %>
          </h6>
        </div>
      </div>
      <%= markdown(@post.body).html_safe %>
    </article>

    <aside>
      <div class="three-up">
        <h6 class="glance">About The Author</h6>
        <%= get_author_shortbio(@post.author_id) %>
      </div>
    </aside>
  </section>
</div>