<!DOCTYPE html>
<html>
  <head>
    <title>Get Real - the Event Farm Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= react_component "Header", img_src: image_url('logo.svg')%>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
